{%extends "base.html"%}

{%block head%}
<title>About</title>
{%endblock%}

{%block body%}

<div class="parallax-img1" style="height: 80vh">
    <div class="parallax-title">
        <h1 style="font-family:'TTNormsPro',Arial,sans-serif; font-weight: bolder;">UWA PLAQUES</h1>
    </div>
</div>
<div class="container">
    <div class="uwa-historical">
        <h1> THE UWA HISTORICAL SOCIETY </h1>
        <br>
        <p>The UWA Historical Society commenced in 2008 from the initiatives of a small group
             led by Prof Reg Appleyard and the then Heritage Officer, Shobha Cameron. It received
             founding financial assistance from the Convocation of UWA graduates, and the support
             of Vice-Chancellor Prof. Alan Robson. The first event was a public lecture by Robert
             French, the Chief Justice of the High Court of Australia. He recalled his ‘Halycon Days‘ as a student at UWA.
        </p>
        <p>Further distinguished graduates and staff offered Annual Lectures in the lead-up to the
            University Centenary celebrations. The Society has conducted seminars on ‘The Founding
            Professors’ and numerous ‘walking tours’ of the historical architectural features of the
            Crawley Campus, together with associated publications.
        </p>
        <p>An extensive professional quality Oral History program has been vigorously pursued. A number
            of initiatives such as an annual ceremony to mark Remembrance Day, in conjunction with the
            University Regiment, the renewal of the WW1 Honour Board , and an Online WW2 Nominal Roll have
            received modest but helpful Grants.
        </p>
        <p>From small leaflets commemorating the Old Dolphin Theatre, Anniversaries of the Sunken Garden
            Amphitheatre, the Octagon and New Fortune theatres, more substantial publications have been
            created by the small group of volunteers. ‘Personalities and Places on the Crawley Campus’ has
            already needed a reprint.
        </p>
        <p>The University Archivist is an ex-officio member of the annually elected working Committee.
            The membership fee is modest and open to all interested in the Society’s aims.
        </p>
        <p>Please check the website for further information.<br>
            <a href='https://www.web.uwa.edu.au/uwahs'>UWAHS website</a>
        </p>
    </div>
    <div class="uwa-historical">
        <h1>THE WEBSITE</h1>
        <p>
            This website was made by Team 32, a group of students from the CITS3200 unit as part of their main project for the second semester of 2022.
            Our aim is to raise awareness about the rich history behind campus, to make staff, students, previous alumni and the general public appreciate the many wonders that
            the university has to offer. Despite its name, the locations that we have aren't restricted to just those with plaques. We felt as though
            it was important to capture more than what just the people behind UWA themselves have recognised to be of significance. The campus provides a variety of
            other locations, both with and without plaques, each with their own unique story to tell. We have learnt a lot about our university in the process
            of completing this project and we hope that you do to.
        </p>
    </div>
    <div class="uwa-historical">
        <h1> AKNOWLEDGEMENTS </h1>
        <br>
        <p>
            Special thanks to:
        </p>
        <ul>
            <li>Dr. Margo Warburton</li>
            <li>Joan Pope</li>
            <li>Maria Carvalho and Lesley Annamalay</li>
            <li>Tom Huckstadt</li>
            <li><a href="https://www.mapbox.com">Mapbox</a></li>
        </ul>
        <br><br>
    </div>
</div>
<div class="parallax-img3" style="height: 80vh;">
    <div class="parallax-title">
        <h1 style="font-family:'TTNormsPro',Arial,sans-serif; font-weight: bolder;">THANK YOU FOR VISITING AND ENJOY OUR WEBSITE!</h1>
    </div>
</div>
{% include "footer.html" %}
{%endblock%}
