<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {%block head%}{%endblock%}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">UWA LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('locations') }}">Locations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Themes</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('walk1') }}">Arts Through Time</a>
                            <a class="dropdown-item" href="{{ url_for('walk2') }}">Distinguished UWA Personalities</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                </ul>
                <span class="navbar-text">by the UWA Historical Society</span>
            </div>
        </nav>
        {%block body%}{%endblock%}
        <footer class="footer text-left">
            <div class="container bottom_border">
                <div class="row">
                    <div class=" col-xs-2 col-sm-4 col-md col-sm-4  col-12 col">
                        <h6 class="pt2">The University of Western Australia</h6>
                        <ul class="footer_list">
                            <li><a href="https://www.uwa.edu.au">> UWA Home</a></li>
                            <li><a href="https://www.uwa.edu.au/study">> Future UWA Students</a></li>
                            <li><a href="https://www.uwa.edu.au/students">> Current UWA Students</a></li>
                            <li><a href="https://www.uwa.edu.au/staff">> UWA Staff</a></li>
                            <li><a href="https://www.uwa.edu.au/business-industry/overview">> Business and Industry</a></li>
                            <li><a href="https://alumni.uwa.edu.au">> Alumni and Friends</a></li>
                            <li><a href="https://www.web.uwa.edu.au/engage/media">> Media</a></li>
                        </ul>
                    </div> 
                    <div class=" col-xs-2 col-sm-4 col-md  col-6 col">
                        <h6 class="pt2">The UWA Historical Society</h6>
                        <ul class="footer_list">
                            <li><a href="https://www.web.uwa.edu.au/uwahs/historical-society">> UWA Historical Society</a></li>
                            <li><a href="https://www.web.uwa.edu.au/uwahs/events">> Events</a></li>
                            <li><a href="https://www.web.uwa.edu.au/uwahs/oral-histories">> Oral histories</a></li>
                            <li><a href="https://www.web.uwa.edu.au/uwahs/projects">> Projects</a></li>
                            <li><a href="https://www.web.uwa.edu.au/uwahs/publications">> Publications</a></li>
                            <li><a href="https://www.web.uwa.edu.au/uwahs/past-events">> Past Events</a></li>
                            <li><a href="https://www.web.uwa.edu.au/uwahs/contact">> Contact UWAHS</a></li>
                        </ul>
                    </div>  
                    <div class=" col-xs-2 col-sm-4 col-md  col-6 col">
                        <h6 class="pt2">University Information</h6>
                        <ul class="footer_list">
                            <li><a href="https://www.web.uwa.edu.au/accessibility">> Accessibility</a></li>
                            <li><a href="https://www.web.uwa.edu.au/contact/map">> Campus Map</a></li>
                            <li><a href="https://www.web.uwa.edu.au/contact">> Contact UWA</a></li>
                            <li><a href="https://www.web.uwa.edu.au/indigenous">> Indigenous Commitment</a></li>
                            <li><a href="https://www.web.uwa.edu.au/privacy">> Privacy at UWA</a></li>
                            <li><a href="https://www.web.uwa.edu.au/disclaimer-copyright/">> Terms of use</a></li>
                        </ul>
                    </div>
                    <div class=" col-xs-2 col-sm-4 col-md  col-12 col">
                        <h6 class="pt2">This Page</h6>
                        <ul class="footer_list">
                            <li><p>Website Feedback:</p><a href="mailto:uwahs@uwa.edu.au">uwahs@uwa.edu.au</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="text-center">Copyright @2021 | Designed by Team 32 - CITS3200</p>
            </div>
        </footer>
    </body>
</html>