{%extends "base.html"%}

{%block head%}
    <title>UWA Plaques</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
{%endblock%}
{%block body%}

  <div class="container-fluid">
    <div class="row" style="height:70vw">
        <div class="col-md-8 col-xs-1" id="map">
            <script src="{{ url_for('static', filename='scripts/mapbox.js')}}"></script>
        </div>
        <div id="menu">
            <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" checked="checked">
            <label for="satellite-v9">satellite</label>
            <input id="streets-v11" type="radio" name="rtoggle" value="streets">
            <label for="streets-v11">streets</label>
        </div>
        <div class="col-md-4 col-xs-1" style="background-color:white; text-align: center; line-height:500px; font-size: 40px;">
          <div class="container" style="padding-top: 15px; padding-bottom: 15px;">

          </div>
            <div class="container" style="padding-top: 15px; padding-bottom: 15px;">
                <h1 style="text-align: center;">
                    WELCOME TO <br>UWA PLAQUES
                </h1>
            </div>
            <div class="line-divider"></div>
            <div class="container" style="font-size: 15px; line-height: 150%; padding-top: 15px;">
                <p>
                    This is an interactive map website showcasing the myriad of unique locations within the University of Western Australia.
                    Most of the locations have specific plaques dedicated to preserving the history behind them for many years to come.
                    Each location is categorised based on a theme that they fit into, this is can be seen through their icon colours.
                </p>
                <p>
                    The themes present a narrative that the locations share with each other. Select one of the three below to begin your
                    walk and to start exploring the many stories that UWA has to offer. You can also change the style of the map based on
                    your own personal preference between a satelite or a street view style map.
                </p>

            </div>
            <div class="container-fluid" style="font-size: 15px; line-height: 150%; padding-top: 15px;">
                <a href="{{ url_for('walk1') }}" class="btn btn-info" role="button">Arts Through Time</a>
                <br>
                <a href="{{ url_for('walk2') }}" class="btn btn-info" role="button">Distinguished UWA Personalities</a>
                <br>
                <a href="{{ url_for('walk3') }}" class="btn btn-info" role="button">Bilya Marlee</a>
            </div>
        </div>
        {% include "footer.html" %}
    </div>

    </div>



{%endblock%}
