{%extends "base.html"%}

{%block head%}
    <title>UWA Campus Map</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
{%endblock%}
{%block body%}
<div class="container-fluid">
    <div class="row" style="height:70vw">
        <div class="col-md-8 col-xs-1" id="map">
            <script src="{{ url_for('static', filename='scripts/mapbox.js')}}"></script>
            <script src="{{ url_for('static', filename='scripts/CustomMarker.js')}}"></script>
	        <script src="{{ url_for('static', filename='scripts/walk1.js')}}"></script>
          <script> map.on('style.load', () => {
            map.setLayoutProperty('iconic', 'visibility', 'none');
          });</script>
        </div>
        <div  class="col-md-4 col-xs-1" style="background-color:white; text-align: center; line-height:500px; font-size: 40px;overflow: scroll; height:80vw;overflow-x: hidden;">
            <div id = "Carousel" class="container" style="padding-top: 30px; padding-bottom: 15px;">
                <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">  <!--data interval false stops slides from moving without user permission-->
                    <div class="carousel-inner">
                        <div class="carousel-item active" id ="image1">
                            <img class="d-block w-100" src= "{{ url_for('static', filename='images/winthrophall1.jpg')}}" alt="First slide">
                        </div>
                        <div class="carousel-item" id ="image2">
                            <img class="d-block w-100" src="{{ url_for('static', filename='images/winthrophall2.jpg')}}" alt="Second slide">
                        </div>
                        <div class="carousel-item" id ="image3">
                            <img class="d-block w-100" src="{{ url_for('static', filename='images/winthrophall3.jpg')}}" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
              <script> $("#Carousel").hide(); </script>
            <div class="line-divider"></div>
            <div class="container" id = "Content" style="font-size: 15px; line-height: 150%; padding-top: 15px;">
              <div class="container" style="padding-top: 30px; padding-bottom: 15px;">
                <br><br><br><br><br>
                  <h1 style="text-align: center;">
                      ARTS THROUGH TIME
                  </h1>
              </div>
              <div class="line-divider"></div>
              <div class="container" style="font-size: 15px; line-height: 150%; padding-top: 15px;">
                  <br><br><br>
                  <p>
                      THEME DESCRIPTION
                  </p>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                      sunt in culpa qui officia deserunt mollit anim id est laborum

                      <br><br>CLICK ON AN ICON TO START
                  </p>

              </div>
            </div>

        </div>
        {% include "footer.html" %}
    </div>
</div>
{%endblock%}
